*{
    font-family: 'Red Rose', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(236, 171, 7);
}
nav ul li{
    list-style: none;
}
nav button{
    padding: 7px 24px;
    background-color: #ff505f;
    color:whitesmoke;
    font-size: medium;
    font-weight: 550;
    border: none;
    cursor: pointer;
}
/* Main */
main{
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
}
main p{
    max-width:800px;
    font-style: normal;
    font-size: 90px;
    font-weight: bolder;
    color: rgb(236, 171, 7);
}
main button{
    padding: 9px 34px;
    background-color: #ff505f;
    color: whitesmoke;
    font-size: larger;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 23%;
}
.bottom{
    position: absolute;
    margin-bottom: 1px;
    margin-left: 92%;
}